// general
$general1: #d63638;

// primary
$primary1: #101517;
$primary2: #043959;
$primary3: #135e96;
$primary4: #4f94d4;
$primary5: #3582c4;
$primary6: #72aee6;
$primary7: #2271b1;
$primary8: #9ec2e6;

// secondary
$secondary1: #1d2327;
$secondary2: #2c3338;
$secondary3: #3c434a;
$secondary4: #50575e;
$secondary5: #646970;
$secondary6: #8c8f94;

// tertiary
$tertiary1: #a7aaad;
$tertiary2: #c3c4c7;
$tertiary3: #dcdcde;
$tertiary4: #f6f7f7;
$tertiary5: #f0f0f1;
$tertiary6: #f0f6fc;

// media queries
$mq1: 290px;
$mq2: 520px;
$mq3: 782px;


@mixin consolas {
  font-family: Consolas,Monaco,monospace;
  font-size: 13px;
  line-height: 150%;
}