// general
$general1: #d63638;

// primary
// default
$default: #00829b;
$primary1: lighten( $default, 34.70588235294118 );
$primary2: lighten( $default, 26.078431372549026 );
$primary3: lighten( $default, 15.686274509803923 );
$primary4: lighten( $default, 7.450980392156872 );
$primary5: darken( $default, 8.235294117647058);
$primary6: darken( $default, 23.13725490196078);
$primary7: darken( $default, 33.725490196078425);

// secondary
$secondary1: #1d2327;
$secondary2: #2c3338;
$secondary3: #3c434a;
$secondary4: #50575e;
$secondary5: #646970;
$secondary6: #8c8f94;

// tertiary
$tertiary1: #a7aaad;
$tertiary2: #c3c4c7;
$tertiary3: #dcdcde;
$tertiary4: #f6f7f7;
$tertiary5: #f0f0f1;
$tertiary6: #f0f6fc;

// media queries
$mq1: 290px;
$mq2: 520px;
$mq3: 782px;

@mixin consolas {
  font-family: Consolas,Monaco,monospace;
  font-size: 13px;
  line-height: 150%;
}