// variables
$jagger: #490d67;
$allports: #00829b;
$cinnabar: #e84a36;
$codgray: #141414;
$oslogray: #939598;
$athensgray: #efeff0;

$base-color: $allports;
$highlight-color: $allports;
$notification-color: #e84a36;
$action-color: $allports;

// global
$body-background: $athensgray;

$link: $base-color;
$link-focus: lighten($allports, 10%);

$button-color: $allports;

// admin menu & admin-bar
$menu-text: $athensgray;
$menu-icon: $athensgray;
$menu-background: $codgray;

$menu-highlight-text: $athensgray;
$menu-highlight-icon: $athensgray;
$menu-highlight-background: $allports;

$menu-current-text: $athensgray;
$menu-current-icon: $athensgray;
$menu-current-background: $allports;

$menu-submenu-text: $athensgray;
$menu-submenu-background: lighten($codgray, 10%);
$menu-submenu-background-alt: lighten($codgray, 10%);

$menu-submenu-focus-text: $athensgray;
$menu-submenu-current-text: $athensgray;

$menu-bubble-text: $allports;
$menu-bubble-background: $athensgray;
$menu-bubble-current-text: $allports;
$menu-bubble-current-background: $athensgray;

$adminbar-avatar-frame: $codgray;

#collapse-menu {
  color: $oslogray;
}

#collapse-menu:hover {
  color: $jagger;
}

#collapse-button div:after {
  color: $oslogray;
}

#collapse-menu:hover #collapse-button div:after {
  color: $jagger;
}

// page title button
.wrap .page-title-action {
  color: $athensgray;
  border: 0;
  background: $jagger;
  box-shadow: none;
  &:hover,
  &:focus {
    color: $athensgray;
    border: 0;
    background: $cinnabar;
    box-shadow: none;
  }
}
.wp-core-ui .button,
.wp-core-ui .button-secondary {
  border: 0;
  color: $athensgray;
  background: $allports;
  box-shadow: none;
  &:hover,
  &:focus {
    border: 0;
    color: $athensgray;
    background: $cinnabar;
    box-shadow: none;
  }
}

.components-button.is-primary {
  border: 0;
  color: $athensgray;
  background: $allports;
  box-shadow: none;
  &:hover,
  &:focus {
    border: 0;
    color: $athensgray;
    background: $cinnabar;
    box-shadow: none;
  }
}

.components-button.is-primary:disabled,
.components-button.is-primary:disabled:active:enabled,
.components-button.is-primary[aria-disabled='true'],
.components-button.is-primary[aria-disabled='true']:active:enabled,
.components-button.is-primary[aria-disabled='true']:enabled {
  border: 0;
  color: rgba($athensgray, 0.25);
  background: $allports;
  box-shadow: none;
  &:hover,
  &:focus {
    border: 0;
    color: lighten($allports, 10%);
    background: $allports;
    box-shadow: none;
  }
}

.components-button.is-secondary,
.components-button.is-tertiary {
  border: 0;
  color: $athensgray;
  background: $allports;
  box-shadow: none;
  &:hover,
  &:focus {
    border: 0;
    color: $athensgray;
    background: $cinnabar;
    box-shadow: none;
  }
}

.components-button.is-secondary:hover:not(:disabled),
.components-button.is-tertiary:hover:not(:disabled) {
  border: 0;
  box-shadow: none;
  &:hover,
  &:focus {
    border: 0;
    color: $athensgray;
    background: $cinnabar;
    box-shadow: none;
  }
}

.components-checkbox-control__input[type='checkbox']:checked {
  background: $allports;
  border-color: $allports;

}

.edit-post-fullscreen-mode-close.has-icon {
  background: $codgray;
}

.components-button.is-pressed:hover:not(:disabled) {
  color: $athensgray;
  background: $codgray;
  box-shadow: none;
}

.components-button.is-destructive {
  border: 0;
  box-shadow: none;
  &:hover,
  &:focus {
    color: $athensgray;
    border: 0;
    box-shadow: none;
  }
}

.components-button:focus:not(:disabled) {
  box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) $allports;
}

@import '../../core/admin';
